main {
  display: flex;
  justify-content: space-between;
}

body {
  margin: 0%;
  overflow-x: hidden;
  font-family: "Louisgc";
  font-size: 120%;
}

h1 {
  text-align: center;
  font-family: "wild";
  font-size: px;
  text-align: center;
  text-shadow: 5px 5px 5px black;
  color: #c89c63 !important;
}
#container1{
  justify-content: space-around;
  display: flex;
  margin-top:100px;
  margin-bottom:100px;
}
#container2{
    justify-content: space-around;
    display: flex;
    margin-top:100px;
    margin-bottom:100px;
  }

#image {
  border-width: 2cap;
  border-style: outset;
  border-color: rgb(193, 238, 121);
}

#texte {
  border-style: outset;
  border-color: rgb(193, 238, 121);
  padding-inline: 5%;
  background-color: #e6ec9094;
}
#texte {
  width: 50%;
}

#image {
  border-width: 2cap;
  border-style: outset;
  border-color: rgb(193, 238, 121);
}

