body {
  background: rgb(246, 235, 190);
}

h1 {
  text-align: center;
  
}

#container2 {
  justify-content: space-around;
  display: flex;
}

#container1 {
  display: inline-block;
  margin-top: 8%;
}

#texte {
  width: 50%;
}

#image {
  border-radius: %;
  border-width: 2cap;
  border-style: outset;
  border-color: rgb(193, 238, 121);
}
