main{
    display: flex; justify-content: space-between;
}


section{margin-left: 5%;
margin-top: %; margin-right: 5%; }

p{margin-bottom: 10%;}

#chevre{margin-top: 1%;}

h1{ font-family: "wild"
    ;font-size: 80px; text-align: center; color: #C89C63;}

h2 {background-color: rgb(183, 211, 131); color: rgb(13, 80, 19);}