body {
    background: rgb(246, 235, 190);
}



.card{
    margin: 20px;
    /* background-color: rgba(194, 194, 194, 0.719);  */
    background-color: rgba(255, 255, 255, 0.853);
    border-radius: 15px;
    text-align: center;
    padding: 15px;
    margin-left: 110px
}


#liste-chevres{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 35px;
  margin-left: 60px;
  }


.flip-card {
  
    width: 250px;
    height: 200px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    
    
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 15px;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    color: black;
    
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: rgba(66, 98, 80, 0.905);
    font-size: large;
    color: white;
    padding-top: 10px;
    transform: rotateY(180deg);
  }

  .flip-card-back h1 {
    padding-top: 25px;
  }
  
.card-body {}

.card-title{}

.card-text{}

.voir-davantage{
    color: white;
}




@import "https://unpkg.com/open-props";

* {
  box-sizing: border-box;
}


button {
  font-family: var(--font-sans);
  font-weight: var(--font-weight-6);
  font-size: var(--font-size-5);
  /* color: var(--gray-8); */
  color: whitesmoke;
  background: var(--gray-0);
  border: 0;
  padding: var(--size-4) var(--size-8);
  transform: translateY(calc(var(--y, 0) * 1%)) scale(var(--scale));
  transition: transform 0.1s;
  position: relative;
}

button:hover {
  --y: -10;
  --scale: 1.1;
  --border-scale: 1;
}

button:active {
  --y: 5%;
  --scale: 0.9;
  --border-scale: 0.9, 0.8;
}

button:before {
  content: "";
  position: absolute;
  inset: calc(var(--size-3) * -1);
  border: var(--size-2) solid var(--gray-0);
  transform: scale(var(--border-scale, 0));
  transition: transform 0.125s;
  
  --angle-one: 105deg;
  --angle-two: 290deg;
  --spread-one: 30deg;
  --spread-two: 40deg;
  --start-one: calc(var(--angle-one) - (var(--spread-one) * 0.5));
  --start-two: calc(var(--angle-two) - (var(--spread-two) * 0.5));
  --end-one: calc(var(--angle-one) + (var(--spread-one) * 0.5));
  --end-two: calc(var(--angle-two) + (var(--spread-two) * 0.5));
  
  mask: conic-gradient(
    transparent 0 var(--start-one),
    white var(--start-one) var(--end-one),
    transparent var(--end-one) var(--start-two),
    white var(--start-two) var(--end-two),
    transparent var(--end-two)
  );
  
  z-index: -1;
}

