@font-face {
  font-family: 'Louisgc';
  src: url(../Fonts/LouisGeorgeCafe.ttf) format(truetype);
}

@font-face {
  font-family: 'Louisgcbold';
  src: url(../Fonts/Louis\ George\ Cafe\ Bold.ttf);
}

@font-face {
  font-family: 'wild';
  src: url(../Fonts/Wild\ Nature.ttf) format(truetype);
}

@font-face {
  font-family:'nature';
  src: url(../Fonts/Drawing\ Nature.ttf) format(truetype);
}

* {
  margin: 0px;
  padding:0px;
}

*, ::after, ::before {
  box-sizing: content-box;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: rgb(0, 0, 0);
}

a:hover {
  color: rgb(122, 147, 112);
}

#conteneur2 {
  display:flex;
  justify-content:center;
  align-items: center;
  height: 250px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 0;
  margin-top: -15px;
  z-index: 0;
}

#conteneur3 {
  height:50px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 80px;
  padding-right: 80px;
  display:flex;
  align-items: center;
  justify-content:space-around;
  border: 1px solid rgb(246, 246, 246);
  border-radius: 10px 10px 10px 10px;
  text-shadow: 0px 10px 15px rgb(248, 248, 248);
  font-size: 18px;
  color: rgb(4, 4, 4);
  background: rgb(134,157,94);
  background: linear-gradient(90deg, rgba(134,157,94,1) 0%, rgba(230,251,194,1) 50%, rgba(134,157,94,1) 100%);
  z-index: 1;
  position:sticky;
  top:0%;
  opacity:0.95;
}

#accueil {
  display: flex;
  align-items: center;
}
#logo {
  width: 200px;
  height:200px;
}

#goatoutondre {
  display:flex;
  align-items:end;
  align-content: end;
  padding-left: 50px;
  font-family: 'wild';
  font-size: 140px;
  color: rgb(136, 173, 128);
  text-shadow: 10px 10px 5px rgb(49, 49, 47);
}
#alternative {
  display:flex;
  font-family: 'Louisgcbold';
  font-size: 40px;
  font-style: italic;
  color:rgb(251, 251, 251);
  margin-top: 150px;
  margin-left:-300px;
  text-shadow: 2px 2px 0px rgb(49, 49, 47);
}

#searchbox1 {
  display:flex; 
  background-color: rgb(136, 160, 136);
  border: 1px solid rgb(250, 250, 250);
  font-family:"louisgc";
}

#search-button {
  border: 1px solid rgb(250, 250, 250);
  height:30px;
  background: rgb(208,237,203);
  background: linear-gradient(4deg, rgba(208,237,203,1) 0%, rgba(246,238,208,1) 51%, rgba(208,237,203,1) 100%);
  font-family:"louisgc";
  color: rgb(68, 120, 68);
  font-size: small;
}

#site-search {
  width: 210px;
  font-size: smaller;
}

#moncompte {
  font-family: 'wild';
  font-size: 50px;
  text-shadow: 5px 5px 5px black;
  text-align: center;
  color: rgb(136, 160, 136);
  margin-top: 15px;
}

body{
  margin:0;
  padding:0;
  background-color: rgb(247, 233, 212) !important;
  font-size: 20px;
  font-family: 'louisgc' !important;
}
/* onglet profil */

#profil {
  display:flex;
  flex-direction: row;
  padding: 20px;
}
#avatar {
  Border:2px solid rgb (136, 160, 136);
  border-radius: 10%;
}

#infoscoordonnees {
  padding-left:50px;
  text-align: start;
}

.tableau {
  background-color:rgb(223, 234, 171);
  max-width: 1200px;
  margin: 20px auto 80px;
  border-radius: 10px;
  border: 1px solid #ffffff;
  color: #000000;
  display: grid;
  grid-template-rows: min-content 1fr;
  }

  .tabs-btn-container {
  display: flex;
  border-bottom: 1px solid #fbfbfb;
  }

  .tab {
  border: none;
  background-color: rgb(136, 160, 136);
  color: #000000;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(16px, 2vw, 20px);
  font-weight: 700;
  padding: 30px 0;
  cursor: pointer;
  }

  .tab:not(:nth-child(3), .tab.active-tab) {
  border-right: 1px solid #ffffff;
  }

  .tab:nth-child(1) {
  border-top-left-radius: 9px;
  }

  .tab:nth-child(3) {
  border-top-right-radius: 9px;
  }

  .tab-content {
  grid-area: 2 / 1 / 3 / 2;
  padding: clamp(35px, 3vw, 40px);
  min-height: 200px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease-out;
  }

  .tab-content p {
  margin-top: 20px;
  line-height: 1.6;
  }

  .tab-content h3 {
  font-size: clamp(20px, 2vw, 25px);
  }
  
  /* Animations */
  .active-tab {
    background: linear-gradient(4deg, rgba(208,237,203,1) 0%, rgba(246,238,208,1) 51%, rgba(208,237,203,1) 100%);
  color: #000000
  }

  .active-tab-content {
    visibility: visible;
    opacity: 1;
  }


/* #PP{
    border: 5px solid rgb(116, 153, 109);  
    border-radius: 20%;
    width: 300px;
    height: 250px;
    margin-left: 170px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
    height: 320px;
    width: 800px;
    margin-left: 30px;
    margin-top: 20px;
    font-family: "Louisgc" ;
   
    
}


#NomPrenom{
  margin-right: 20px;
  margin-top: 100px;
   
  }

  
input {
height: 15px;
width: 100px;
margin: 10px;
margin-top: 30px;
}


#compte{
  text-align: center;
  font-size: 40px;
  font-family:"Louisgc" ;
  color: rgb(116, 153, 109);  
  margin-top: 15px;
  text-decoration:underline;
  
}

#tapernom{
  border: 4px solid rgb(134,157,94);
 background-color: rgb(246, 237, 206) ;
 border-radius:  15px 15px 15px 15px;
 
}

#taperadresse{
  border: 4px solid rgb(134,157,94);
 background-color: rgb(246, 237, 206) ;
 border-radius:  15px 15px 15px 15px;
 
 margin-left: 83px;
}

#tapernumero{
  border: 4px solid rgb(134,157,94);
 background-color: rgb(246, 237, 206) ;
 border-radius:  15px 15px 15px 15px;
 margin-left: 111px;
 
}

#tapermail{
  border: 4px solid rgb(134,157,94);
 background-color: rgb(246, 237, 206);
 border-radius:  15px 15px 15px 15px;
 margin-left: 99px;
 
}

.vignettes{
  display:flex;
  margin-left: 100px;
  margin-top: 50px;
  flex-direction: row;
  justify-content:space-evenly;
  padding-left: 50px;
  margin-right: 100px; 
  width: auto;
}

#avis{
  border: 4px solid rgb(134,157,94);
  border-radius: 50%;
  background-color: rgb(246, 237, 206);
}

#histo{
  border: 4px solid rgb(134,157,94);
  border-radius: 50%;
  background-color: rgb(246, 237, 206);
}

#suivi{
  border: 4px solid rgb(134,157,94);
  border-radius: 50%;
  background-color: rgb(246, 237, 206);
}

#modifier1{
  position: absolute; top: 360px; left: 1305px;
  height: 18px;
  width:18px;
  
}

#modifier2{
  position: absolute; top: 425px; left: 1305px;
  height: 18px;
  width:18px;
  
}

#modifier3{
  position: absolute; top: 490px; left: 1305px;
  height: 18px;
  width:18px;
  
}

#modifier4{
  position: absolute; top: 555px; left: 1305px;
  height: 18px;
  width:18px;
 
} */
#pieddepage {
  display:flex;
  flex-flow: column wrap;
  text-align: left;
  align-content: space-around;
  padding-top: 10px;
  line-height: 30px;
  height:70px;
  font-size: 15px;
  color: rgb(0, 0, 0);
  border: 1px solid white;
  background: rgb(219, 237, 170);
}

#livraison {
  display:flex;
  flex-direction: column;
  text-align: end;
}
#camion {
  height:40px;
  width:40px;
  margin-left:30px;
 
}

#mpaiement {
  display:flex;
  flex-direction: row;
  align-items: center;
  padding-top: -10px;
}
#paypal {
  margin-top:8px;
  margin-left:10px;
}

#reseaux {
  display: flex;
  flex-direction: row;
  margin-top:5px;
}