main{
    display: flex; justify-content: space-between;
}

h1 { 
    font-family: "wild"; 
    font-size: 60px !important;  
    color: #C89C63 !important;
    text-align: center;
    margin-top: 3% !important;
    margin-bottom: 4% !important;
}

*,::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-faq{
    width: 70%;
    max-width: 900px;
    min-width: 700px;
    height: auto;
    margin: 10px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 180px;
}

.questions{
    width: 100%;
    height: auto;
    margin: 5px;
}

.visible-pannel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    position: relative;
    z-index: 100;
    background: #c99f68;
}

.visible-pannel h3{
    margin-left: 10px;
    padding: 15px 5px;
    font-size: 25px;
}

.visible-pannel img{
    margin-right: 10px;
    width: 25px;
    cursor: pointer;
}

.toggle-pannel{
    padding: 0px 15px;
    /*  height: 0px;
    opacity: 0;*/
}

.toggle-pannel h3{
    font-size: 18px;
    padding-bottom: 10px;
}

.toggle-pannel p{
    line-height: 1.5;
}

