main{
    display: flex; justify-content: space-between;
}

h1 { 
    font-family: "wild"; 
    font-size: 80px;  
    color: #C89C63 !important;
    text-align: center;
}

h3 { 
    text-align: left;
}

