main{
    display: flex; justify-content: space-between;
}

h1 { 
    font-family: "wild";
    ;font-size: 80px; text-align: center; color: #C89C63;
}

h3 { 
    text-align: left;
}

#cache{display:none;}
