@font-face {
    font-family: 'Louisgc';
    src: url(../Fonts/LouisGeorgeCafe.ttf) format(truetype);
}

@font-face {
    font-family: 'Louisgcbold';
    src: url(../Fonts/Louis\ George\ Cafe\ Bold.ttf);
}

@font-face {
    font-family: 'wild';
    src: url(../Fonts/Wild\ Nature.ttf) format(truetype);
}

@font-face {
    font-family:'nature';
    src: url(../Fonts/Drawing\ Nature.ttf) format(truetype);
}

* {
    margin: 0px;
    padding:0px;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: rgb(0, 0, 0);
}

a:hover {
    color: rgb(122, 147, 112);
    }
    
#videoaccueil {
    padding-left: 0;
    padding-right: 0;
    display:flex;width:100%;
    margin:0 auto 35px auto;
    align-content: center;
    z-index: -1;
    position:absolute;
}

#conteneur2 {
    display:flex;
    justify-content:center;
    align-items: center;
    height: 250px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 0;
    margin-top: -15px;
    z-index: 0;
}

#conteneur3 {
    height:50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 80px;
    padding-right: 80px;
    display:flex;
    align-items: center;
    justify-content:space-around;
    border: 1px solid rgb(246, 246, 246);
    border-radius: 10px 10px 10px 10px;
    text-shadow: 0px 10px 15px rgb(248, 248, 248);
    font-size: 18px;
    color: rgb(4, 4, 4);
    background: rgb(134,157,94);
    background: linear-gradient(90deg, rgba(134,157,94,1) 0%, rgba(230,251,194,1) 50%, rgba(134,157,94,1) 100%);
    z-index: 1;
    position:sticky;
    top:0%;
    opacity:0.90;
}

#logo {
    width: 200px;
    height:200px;
}

#goatoutondre {
    display:flex;
    align-items:end;
    align-content: end;
    padding-left: 50px;
    font-family: 'wild';
    font-size: 140px;
    color: rgb(136, 173, 128);
    text-shadow: 10px 10px 5px rgb(49, 49, 47);
}
#alternative {
    display:flex;
    font-family: 'Louisgcbold';
    font-size: 40px;
    font-style: italic;
    color:rgb(251, 251, 251);
    margin-top: 150px;
    margin-left:-300px;
    /* flex-wrap: wrap; */
    text-shadow: 5px 0px 0px rgb(49, 49, 47);
}

#searchbox1 {
    display:flex; 
    background-color: rgb(136, 160, 136);
    border: 1px solid rgb(250, 250, 250);
    font-family:"louisgc";
}

#search-button {
    border: 1px solid rgb(250, 250, 250);
    height:30px;
    background: rgb(208,237,203);
    background: linear-gradient(4deg, rgba(208,237,203,1) 0%, rgba(246,238,208,1) 51%, rgba(208,237,203,1) 100%);
    font-family:"louisgc";
    color: rgb(68, 120, 68);
    font-size: small;
}

#site-search {
    width: 210px;
    font-size: smaller;
}

body {
    margin-left: 50px,
    margin-right: 50px;
    background-color: rgb(247, 233, 212);
    font-size: 20px;
    font-family: 'louisgc';
}

#presentation {
    display:flex;
    width:100%;
    justify-content: end;
    /* padding-bottom: 10px; */
    text-align:right;
    height: 430px;
    z-index: 0;
}

#pres {
    margin-bottom: 0px;
    height: 100%;
    width: 100%;
    background-color: rgb(247, 233, 212);
    opacity:0.90;
    border: 2px solid white;
    border-radius: 100% 0% 0% 100% / 100% 100% 0% 0%  ;
    padding-top:150px;
    padding-left:200px;
    padding-right:80px;
    font-size:20px;
    font-weight: 570;
    text-align: center;
}

#mep {
    margin-bottom: -2px;
    display:flex;
    justify-content: end;
    width:40%;
}

#pieddepage {
    display:flex;
    flex-flow: column wrap;
    text-align: left;
    align-content: space-around;
    padding-top: 20px;
    line-height: 40px;
    height:150px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    background: rgb(134,157,94);
    background: linear-gradient(90deg, rgba(134,157,94,1) 0%, rgba(230,251,194,1) 50%, rgba(134,157,94,1) 100%);
}

#livraison {
    display:flex;
    flex-direction: column;
    text-align: start;
    /* height:50px;
    width:50px; */
}
#camion {
    height:50px;
    width:50px;
    margin-left:30px;
}

#mpaiement {
    display:flex;
    flex-direction: row;
    align-items: center;
    padding-top: -10px;
}
#paypal {
    margin-top:8px;
    margin-left:10px;
}

#reseaux {
    display: flex;
    flex-direction: column;
}

#team {
    font-family: 'wild';
    font-size: 50px;
    text-align: center;
    color: rgb(136, 160, 136);
    margin-top: 50px;
    margin-bottom: 50px;
}