div {
    @import url(https://fonts.googleapis.com/css?family=Prosto+One);
}

h3 {
    font-family: "wild";
    font-weight: 0;
    text-shadow: 5px 5px 5px black;
}
.login-form {
    color: #f5f5f5;
    border: 1px solid white;
    width: 30%;
    /* margin-left: 35%;
    margin-top: 120px; */
    text-align: center;
    padding: 40px;
    padding-top: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px #000000;
    background: rgba(136, 160, 136, 0.678);
    background: linear-gradient(90deg, rgba(137,180,129,1) 49%, rgba(208,237,203,1) 100%);
}

#loginform1 {
    padding-top:45px;
}

.champslog {
    color: #000000;
    width: 70%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #e4e0e0;
    background: rgb(225, 247, 213);
    border-radius: 5px;
    outline: none;
}

input[type="button"] {
    color: rgb(0, 0, 0);
    width: 30%;
    border: 1px solid white;
    outline: none;
    cursor: pointer;
}
.btn {
    border-radius: 15%;
}

#login {
    background: rgb(208, 237, 203);
    box-shadow: 2px 2px 5px black;
}

#register {
    background: rgb(208, 237, 203);
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

main>div {
    margin:50px;
}

/*Modal*/


.cus-modal {
  display: none;
  justify-content: center;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}
.cus-modal .close {
  cursor: pointer;
} 

.cus-modal .container {
    background-color: white;
    width: 40%;
    height: 30%;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.cus-modal .container .cus-flex {
    width: 99%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}