body {
  background: (247,263,212);
}

.chevreName {
padding-top: 60px;
line-height: 90px;
font-family: 'wild';
color: rgb(136, 160, 136);
text-shadow: 5px 5px 5px black;
font-size:50px;
}



.gallery{flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 60px;
  margin-top: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  line-height: 40px;}

.galltext{margin-right: 400px;
  font-size: larger;
  }


.description,
.accessoires {margin-left: 93px;
font-size: medium;
line-height: 30px;
padding-top: 9px;
margin-right: 410px;}

.containercard{
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-around;
align-items: center;
margin: 30px;
margin-right: 40px;
}

#reservation {background-color: rgb(248, 248, 253);
height: 30px;
width: 110px;
border-radius: 02px;}

#retour{background-color: rgb(248, 248, 253);
      height: 30px;
      width: 110px;
      border-radius: 02px;}


.card1,
.card2,
.card3 {
 width: 25rem;
 height: 25rem;
padding: 10px;
background-color: rgba(255, 255, 255, 0.571);
border-radius: 15px;
display: flex;
flex-direction: column;
 align-items: center;
 justify-content: space-between;
margin-left: 60px;
text-align: center;
margin-right: 03px;
}

.card-text{
  font-size: x-large;
  padding-top: 10px;
}

.invisible{
  visibility: hidden;
}


#noeud{
width: 13rem;
}


.solaireImg {
width: 15rem;
}


.chapeauImg {
width: 13rem;
}


label {
  font-family: sans-serif;
  font-size: 1rem;
  padding-right: 10px;
}

select {
  font-size: 0.9rem;
  padding: 2px 5px;
  margin-top: 5px;
}

.total {
  display: none;
}

.text-deco {
  text-decoration: underline;
  
}

.select.noeud{}

button.ajouterChevre {margin-top: 10px; background-color: white; border-color:white; width: 140px; height: 40px; border-radius: 10px;}
button.ajouterSolaire {background-color: white; border-color:white; width: 140px; height: 40px; border-radius: 10px;}
button.ajouterChapeau {background-color: white; border-color:white; width: 140px; height: 40px; border-radius: 10px;}
button.ajouterNoeud {background-color: white; border-color:white; width: 140px; height: 40px; border-radius: 10px;}

