body {
<<<<<<< HEAD
    background: (247,263,212);
}

.chevreName {margin-top: 30px;
  font-family: 'wild';
  color: rgb(136, 160, 136);
  text-shadow: 5px 5px 5px black;
  text-align: center;
  font-size:50px;}

.containercard{
=======
  background: rgb(246, 235, 190);
}
.containercard {
>>>>>>> 28b47d30e38cf430d2d3c1dfd4848d9a1f816327
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 30px;
}

#reservation {
  background-color: rgb(248, 248, 253);
  height: 30px;
  width: 110px;
  border-radius: 2px;
}

#retour {
  background-color: rgb(248, 248, 253);
  height: 30px;
  width: 110px;
  border-radius: 02px;
}

.card1,
.card2,
.card3 {
  width: 25rem;
  height: 25rem;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.571);
  border-radius: 15px;
  align-content: center;
  padding-top: 15px;
  padding-top: 35px;
  margin-left: 60px;
}

#noeud {
  width: 13rem;
}

.solaireImg {
  width: 13rem;
}

.chapeauImg {
  width: 13rem;
}

label {
  font-family: sans-serif;
  font-size: 1rem;
}

select {
  font-size: 0.9rem;
  padding: 2px 5px;
  margin-top: 25px;
}

button.ajouterChevre {
  margin-top: 10px;
  background-color: white;
  border-color: white;
  width: 140px;
  height: 40px;
  border-radius: 10px;
}
button.ajouterSolaire {
  background-color: white;
  border-color: white;
  width: 140px;
  height: 40px;
  border-radius: 10px;
}
button.ajouterChapeau {
  background-color: white;
  border-color: white;
  width: 140px;
  height: 40px;
  border-radius: 10px;
}
button.ajouterNoeud {
  background-color: white;
  border-color: white;
  width: 140px;
  height: 40px;
  border-radius: 10px;
}

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*définissez la taille de la lentille:*/
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*définissez la taille du résultat DIV:*/
  width: 300px;
  height: 300px;
}
