body {
  box-sizing: content-box;
}

main {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 78vh;
  margin: 20px auto;
}

/* h3 {
  text-align: center;
  width: 90%;
  background-color: white;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
} */

.alert {
  width: 70%;
  margin: 15px auto; /* met un element en centre de son parent*/
  padding: 0 20px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(136, 160, 136);
  border-radius: 15px;
  background: linear-gradient(4deg, rgba(139,179,133,1) 0%, rgb(211, 232, 188) 51%, rgba(139,179,133,1) 100%);
}

.alert p {
  text-align: center;
  width: 50%;
  font-weight: 800;
  font-size: 30px;
}

.basket {
  width: 70%;
  margin: 15px auto; /* met un element en centre de son parent*/
  padding: 0 20px;
  background-color: rgb(136, 160, 136);
  border-radius: 15px;
  background: linear-gradient(
    4deg,
    rgba(139, 179, 133, 1) 0%,
    rgb(211, 232, 188) 51%,
    rgba(139, 179, 133, 1) 100%
  );
}

.basket .list {
  padding: 0 20px;
  height: 70%;
  overflow: auto;
  
}

#boutons {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
}
.list {
  padding: 0;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  
}

.list .card-product {
  list-style: none;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 5px;
  display: flex;
  width: 100%;
  background-color: white;
  transition: 0.4s;
  
}

.list .card-product:hover {
  background-color: rgb(136,160,136);
}

.list .card-product .product-img {
  margin-right: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.product {
  width: 75%;
}

h2 {
  font-family: "wild";
  font-size: 50px;
  text-align: center;
  color: white;
  text-shadow: 5px 5px 5px black;
  font-weight: lighter;
  width: 90%;
  margin: 10px auto;
  padding: 10px;
}

h1 {
  text-align: center;
  width: 90%;
  background-color: white;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
}

a {
  color: rgb(1, 9, 1);
}

img {
  color: black;
  height: auto;
}

.viderBtn, .payerBtn {
  border:2px solid white;
  border-radius: 15px 15px 15px 15px;
  background-color: rgb(205, 232, 200);
  box-shadow: 2px 2px 5px rgb(0, 0, 0) ;
  width : 300px;
}