body {
  box-sizing: content-box;
}

main {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 78vh;
  margin: 20px auto;
}

/* h3 {
  text-align: center;
  width: 90%;
  background-color: white;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
} */

.basket {
  width: 70%;
  margin: 15px auto; /* met un element en centre de son parent*/
  padding: 0 20px;
  background-color: rgb(136, 160, 136);
  border-radius: 15px;
  background: linear-gradient(4deg, rgba(139,179,133,1) 0%, rgb(211, 232, 188) 51%, rgba(139,179,133,1) 100%);
}

.basket .list {
    padding: 0 20px;
    height: 84%;
    overflow: auto; 
}

.list {
    padding: 0;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.list .card-product {
  list-style: none;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 5px;
  display: flex;
  width: 100%;
  background-color: white;
  transition: 0.4s;
}

.list .card-product:hover {
  background-color: rgb(213, 210, 210);
}

.list .card-product .product-img {
  margin-right: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.product {
  width: 75%;
}

h2 {
  text-align: center;
    background-color: rgb(247, 245, 245);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 90%;
    margin: 10px auto;
    border-radius: 5px;
    padding: 10px;
}

h1 {
  text-align: center;
  width: 90%;
  background-color: white;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
}

a {
  color: rgb(1, 9, 1);
}

img {
  color: black;
  height: auto;
}




