
#titrepartenaires {
    text-align: center;
    font-family: "wild";
    font-size:50px;
    color: rgb(136, 160, 136);
    text-shadow: 5px 5px 5px black;
    margin-top:30px;
}

#partenaires {
    margin:50px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    
}