body {
  box-sizing: content-box;
  text-align: left;
  background-color: rgb(247, 233, 212);
 
  font-family: "louisgc" !important;

}

h3 {
  font-family: "wild";
  text-align: left;
  width: 80%;
  justify-content: space-between;
  color:rgb(147, 195, 147);
  text-shadow: 5px 5px 5px black;
  
  
  



}



.basket {
  width: 70%;
  /* met un element en centre de son parent*/
   text-align: left;
  
  


 
}

.list {
  background-color: rgb(247, 233, 212);
  text-align: left;
  margin:7%
  

}

.list .description {
  list-style: none;
  display: flex;
  width: 100%;
  text-align: left;
  background-color: rgb(247, 233, 212);
 font-family: "wild";
 margin: 7%;
  


}

.product {
  width: 80%;
  text-align:left;
  background-color: rgb(247, 233, 212);
  margin:7px;
}

.container {
  width: 300px;
  height: 300px;
  text-align: left;
  background-color: rgb(247, 233, 212);
  
}

.centered-element {
  margin:7%;
  width: 120px;
  text-align: left;
  
}

h2 {
  text-align: left;
  justify-content: space-between;
 margin:7%
}

p {
  
  font-size: 20px;
  text-align: left;
  margin-top:30px;
  margin-bottom:30px;
  margin-left:100px;
  
}

div.description {
  background-color: rgb(247, 233, 212);
  text-align: left;
  font-family: "wild";
  color: rgb(137, 180, 129);
  margin-top:30px;
  margin-bottom:30px;
  margin-left:100px;
  font-size: 40px;
  text-shadow: 5px 5px 5px black;
  
}

li.description {
  background-color: rgb(247, 233, 212);
  text-align: left;
 color: rgb(137, 180, 129);
 margin-top:30px;
 margin-bottom:30px;
 margin-left:100px;
  
}
div.politique{
  color:rgb(88, 121, 83);
  font-family: "wild";
  font-size: 50px;
  text-shadow: 5px 5px 5px black;
  text-align: center;

}