body {
    box-sizing: content-box;
    text-align: center;
    background-color: rgb(205, 200, 200);
    border: 1px solid black;
}

h3 {
    text-align: center;
    width: 90%;
    background-color: white;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.basket {
    width: 70%;
    margin: 0 auto; /* met un element en centre de son parent*/
    padding: 10px;
    background-color: rgb(234, 230, 230);
    border-radius: 5px;
    border: 1px solid black;
}

.list {
    padding: 0;
    border: 1px solid black;
}

.list .card {
    list-style: none;
    display: flex;
    width: 100%;
    border: 1px solid black;
    margin-bottom: 10px;
    text-align: center;
    border: 1px solid black;
   

}

.product {
    width: 80%;
    border: 1px solid black;
    text-align: center;
    border: 1px solid black;
}
    
    
    #goatoutondre {
        display:flex;
        align-items:end;
        align-content: end;
        justify-content: flex-start;
        padding-left: 50px;
        font-family: 'wild';
        font-size: 140px;
        color: rgb(136, 173, 128);
        text-shadow: 10px 10px 5px rgb(49, 49, 47);
       
    }
   
    
    #footer {
        display:flex;
        flex-flow: column wrap;
        text-align: left;
        align-content: space-around;
        padding-top: 20px;
        line-height: 20px;
        height:150px;
        font-size: 15px;
        color: rgb(0, 0, 0);
        background: rgb(134,157,94);
        background: linear-gradient(90deg, rgba(134,157,94,1) 0%,  50%, rgba(134,157,94,1) 100%);
        border: 1px solid black;
    }



        .container {
            width: 300px;
            height: 300px;
            border: 2px black solid;
            text-align: center;
            border: 1px solid black;
        }
        
        .centered-element{
            margin-left: auto;
            margin-right: auto;
            background-color: grey;
            padding: 15px;
            width: 120px;
        text-align: center;
        border: 1px solid black;}
            
            h2{
                text-align: center;
                border: 1px solid black;
                background-color: aliceblue;
             
            }
            p{
                border: 1px solid black;
                padding: 1px;
                margin: 1px;
            }
    